
    {% include "shared/header.html" %}

    <div class="row">
        <div class="col-md-12">
            <a href="{{url_for('createShelter')}}" role="button" class="btn btn-success">Create new shelter</a>
            </div>
        </div>


      {% for row in shelters | batch(2)%}
     <div class="row">
       {% for shelter in row %}
          {% if shelter %}
            {% with showLink=True %}
                {% include "shared/shelter_info.html" %}
            {% endwith %}
          {% endif %}
        {%endfor%} <!--inner loop for columns-->
       </div>
      {%endfor%}<!--outer loop for batching-->

     </div>


  {% include "shared/footer.html" %}

