      {% for row in puppies | batch(3)%}

     <div class="row">
       {% for puppy in row %}
          {% if puppy %}
           <div class="col-md-4">
             <a href="{{url_for('puppy', puppy_id=puppy.id)}}">
            {% include "shared/puppy_pic.html" %}


             {{puppy.name}}</a><br>
             DOB: {{puppy.dateOfBirth}}<br>
             Weight: {{puppy.weight}}<br>
               {% include "shared/puppy_buttons.html" %}

           </div>
          {% endif %}
        {%endfor%} <!--inner loop for columns-->
       </div>
      {%endfor%}<!--outer loop for batching-->